fastapi>=0.109.2
uvicorn>=0.27.1
pydantic>=2.11.4
pydantic-settings>=2.1.0
python-dotenv>=1.0.0
langchain>=0.3.25
langchain-community>=0.0.39
langchain-core>=0.3.60
langchain-openai>=0.3.16
langchain-google-community
openai>=1.12.0
tiktoken>=0.9.0
python-jose>=3.4.0
passlib>=1.7.4
httpx>=0.27.0
wikipedia>=1.4.0